.Container{
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0;
    padding: 0;
}
.Container .postContainer{
    width: 50vw;
}
.Container .rightAsideContainer{
    width: 30vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rightAsideContainer .asideTop{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-top: 15px;
}
.asideTop .profileTopContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 2rem;
}
.profileTopContainer .imageContainer{
    width: 4vw;
    height: 4vw;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgProfile{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}
.profileTopContainer .switchBtn{
    margin-left: auto;
    color: rgb(91, 108, 235);
}
.profileTopContainer .profileName{
    font-weight: bold;
    letter-spacing: 0.3px;
}
.asideTop .FollowersTitle{
    display: flex;
    gap: 4rem;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    padding-left: 3.5rem;
    padding-right: 2rem;
    
}
.FollowersTitle .left{
    margin-right: auto;
    color: #b5b5b5;
}
.FollowersTitle .followBtn:hover{
    color: #eee;
}

.asideBottom{
    padding-left: 3rem;
}

.asideBottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 14px;
    color: #b1afaf;
    cursor: default;
}
.asideBottom .footerOthers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
}
.asideBottom .footerOthers small{
    font-size: 12px;
}
.footerOthers small:hover,
.footerCopyRight small:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* profile story */

.postContainer .profileStoryContainer{
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.profileTopContainer .followBtn{
    color: rgb(91, 108, 235);
    font-size: 14px;
}

.profileStory{
    width: 80px;  
    height: 80px; 
    border: 3px solid #dd2a7b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}
.imgStory{
    width: 67px;
    height: 67px;
    border-radius: 50%;
    object-fit: cover;
}

/* profile posts */

.profilePostContainer{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    gap: 1rem;
}
.profilePostContainer .postOne{
    width: 70%;
    height: 480px;
    background-color: rgb(28,28,28);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.imgPost{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}


/* aside right style */

