.navbar {
    width: 250px;
    height: 100vh;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-right: 1px solid #1d1d1d;
    background-color: rgb(26,26,26);
}
.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navList .logoInst{
    margin-bottom: auto;
    font-weight: bold;
    cursor: default;
    margin-bottom: 2rem;
}
.logoIconInst{
    width: 80%;
}
.navList .more{
    margin-top: auto;
}
.navItem {
    margin: 1rem 0;
}
.navLink {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

/* notifatication style */

/* Existing styles */

.notificationsPanel {
    position: absolute;
    top: 60px; /* Adjust based on your navbar height */
    right: 20px; /* Adjust as needed */
    left: 20px;
    width: 200px; /* Adjust width */
    background: #fff;
    color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    z-index: 1000; /* Ensure it appears above other content */
}

.notificationsPanel h3 {
    margin-top: 0;
}

.notificationsPanel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notificationsPanel li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.notificationsPanel li:last-child {
    border-bottom: none;
}


/* create post panel style */

/* Existing styles */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Below the createPostPanel */
}

.createPostPanel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; /* Adjust width as needed */
    background: #fff;
    color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    z-index: 1000; /* Above the overlay */
}

.createPostTextarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    resize: none;
}

.createPostButton {
    background-color: #0095f6;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.createPostButton:hover {
    background-color: #007bb5;
}
